stages:
  - test
  - build
  - release

variables:
  CARGO_HOME: "$CI_PROJECT_DIR/.cargo"
  RUSTUP_HOME: "$CI_PROJECT_DIR/.rustup"
  APP_NAME: "Launcher"

cache:
  key: "$CI_COMMIT_REF_SLUG"
  paths:
    - .cargo/
    - .rustup/
    - node_modules/

check-build-linux:
  stage: test
  image: rust:latest
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      when: manual
      allow_failure: true
  before_script:
    - apt-get update
    - apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf curl npm
    - rustup default stable
    - npm ci
  script:
    - npm run gen-icons
    - npm run tauri build

check-build-windows:
  stage: test
  image: ivangabriele/tauri:debian-bookworm-20
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      when: manual
      allow_failure: true
  before_script:
    - export PATH="$CARGO_HOME/bin:$PATH"
    - rustup default stable
    - apt-get update
    - apt-get -y install nsis clang lld llvm
    - rustup target add x86_64-pc-windows-msvc
    - cargo install --locked --quiet cargo-xwin
    - npm ci
  script:
    - npm run gen-icons
    - npm run tauri-build-windows

build-linux:
  stage: build
  image: rust:latest
  rules:
    - if: $CI_COMMIT_TAG
  before_script:
    - apt-get update
    - apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf curl npm
    - rustup default stable
    - npm ci
  script:
    - npm run gen-icons
    - npm run tauri build
    - mkdir -p ./dist/linux
    - cp src-tauri/target/release/${APP_NAME} ./dist/linux/${APP_NAME}
  artifacts:
    paths:
      - dist/linux/

build-windows:
  stage: build
  image: ivangabriele/tauri:debian-bookworm-20
  rules:
    - if: $CI_COMMIT_TAG
  before_script:
    - export PATH="$CARGO_HOME/bin:$PATH"
    - rustup default stable
    - apt-get update
    - apt-get -y install nsis clang lld llvm
    - rustup target add x86_64-pc-windows-msvc
    - cargo install --locked --quiet cargo-xwin
    - npm ci
  script:
    - npm run gen-icons
    - npm run tauri-build-windows
    - mkdir -p ./dist/windows
    - cp src-tauri/target/x86_64-pc-windows-msvc/release/${APP_NAME}.exe ./dist/windows/${APP_NAME}.exe
  artifacts:
    paths:
      - dist/windows/

publish-release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG
  needs:
    - build-linux
    - build-windows
  before_script:
    - apk add --no-cache git curl jq
  script: |
      # 1. Загрузка в Generic Packages
      curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file dist/linux/${APP_NAME} "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/stalker-gw/${CI_COMMIT_TAG}/${APP_NAME}"
      curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file dist/windows/${APP_NAME}.exe "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/stalker-gw/${CI_COMMIT_TAG}/${APP_NAME}.exe"
  release:
    name: 'Release $CI_COMMIT_TAG'
    tag_name: '$CI_COMMIT_TAG'
    description: 'Portable binaries for GW Launcher'
    assets:
      links:
        - name: 'Linux'
          url: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/stalker-gw/${CI_COMMIT_TAG}/${APP_NAME}"
        - name: 'Windows'
          url: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/stalker-gw/${CI_COMMIT_TAG}/${APP_NAME}.exe"
