stages:
  - build

variables:
  # Ускоряет установку Rust
  CARGO_HOME: "$CI_PROJECT_DIR/.cargo"
  RUSTUP_HOME: "$CI_PROJECT_DIR/.rustup"
  # Отключаем обновление индекса при установке
  CARGO_NET_GIT_FETCH_WITH_CLI: "true"

# Кэшируем Rust и Node.js зависимости
cache:
  key: "$CI_COMMIT_REF_SLUG"
  paths:
    - .cargo/
    - .rustup/
    - node_modules/

# Общий шаблон для заданий
.tauri-build:
  image: node:20-bookworm
  before_script:
    - apt-get update && apt-get install -y --no-install-recommends curl build-essential libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf libgtk-3-dev libayatana-appindicator3-dev libwebkit2gtk-4.0-dev libxtst-dev libx11-dev libxrandr-dev libxinerama-dev libxcursor-dev libxcomposite-dev libxdamage-dev libxss-dev libasound2-dev libssl-dev
    - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - source "$CARGO_HOME/env"
    - rustup target add x86_64-unknown-linux-gnu
    - npm ci

build-linux:
  extends: .tauri-build
  stage: build
  script:
    - npm run gen-icons
    - source "$CARGO_HOME/env"
    - npm run tauri build
    - cp src-tauri/target/release/gw-launcher ./stalker
  artifacts:
    name: stalker
    paths:
      - stalker
    expire_in: 1 week
  when: manual
  tags:
    - saas-linux-medium-amd64  # Убедитесь, что у вас есть runner с этой меткой

build-windows:
  stage: build
  image: ivangabriele/tauri:debian-bookworm-20
  before_script:
    # Установка Rust и Node.js в Windows-образе
    - apt-get -y install nsis # This was needed to resolve a packaging issue
    - apt-get -y install clang # Had to add to resolve a dialog issue on launch
    - apt-get -y install lld llvm
    - rustup target add x86_64-pc-windows-msvc
    - cargo install --locked cargo-xwin
    - npm ci
  script:
    - npm run gen-icons
    - npm run tauri-build-windows
    - cp src-tauri/target/release/gw-launcher.exe stalker.exe
  artifacts:
    name: stalker
    paths:
      - stalker.exe
    expire_in: 1 week
  when: manual
  tags:
    - saas-linux-medium-amd64  # Убедитесь, что у вас есть runner с этой меткой
