stages:
  - build

variables:
  CARGO_HOME: "$CI_PROJECT_DIR/.cargo"
  RUSTUP_HOME: "$CI_PROJECT_DIR/.rustup"
  CARGO_NET_GIT_FETCH_WITH_CLI: "true"

cache:
  key: "$CI_COMMIT_REF_SLUG"
  paths:
    - .cargo/
    - .rustup/
    - node_modules/

.tauri-build:
  image: node:20-bookworm
  before_script:
    - apt-get update && apt-get install -y --no-install-recommends curl build-essential libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf libgtk-3-dev libayatana-appindicator3-dev libwebkit2gtk-4.0-dev libxtst-dev libx11-dev libxrandr-dev libxinerama-dev libxcursor-dev libxcomposite-dev libxdamage-dev libxss-dev libasound2-dev libssl-dev
    - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - source "$CARGO_HOME/env"
    - rustup target add x86_64-unknown-linux-gnu
    - npm ci

build-linux:
  extends: .tauri-build
  stage: build
  script:
    - npm run gen-icons
    - source "$CARGO_HOME/env"
    - npm run tauri build
    - cp src-tauri/target/release/gw-launcher ./Stalker-GW
  artifacts:
    name: Stalker-GW
    paths:
      - Stalker-GW
    expire_in: 1 week
  when: manual
  tags:
    - saas-linux-medium-amd64

build-windows:
  stage: build
  image: ivangabriele/tauri:debian-bookworm-20
  before_script:
    - apt-get -y install nsis
    - apt-get -y install clang
    - apt-get -y install lld llvm
    - rustup target add x86_64-pc-windows-msvc
    - cargo install --locked cargo-xwin
    - source "$CARGO_HOME/env"
    - npm ci
  script:
    - npm run gen-icons
    - npm run tauri-build-windows
    - cp src-tauri/target/x86_64-pc-windows-msvc/release/gw-launcher.exe Stalker-GW.exe
  artifacts:
    name: Stalker-GW
    paths:
      - Stalker-GW.exe
    expire_in: 1 week
  when: manual
  tags:
    - saas-linux-medium-amd64
